form {
    text-align: center;
    margin-top: 20%;
}
input {
    height: 50px;
    
    font-size: 2em;
    border: 2px solid black;
    margin-bottom: 5%;
    margin-left: 2%;
}

h1 {
    border: 1px solid blue;
    text-align: center;
    background-color: aliceblue;
}

h2 {
    border: 1px solid blue;
    text-align: center;
    background-color: aliceblue;
}