body {
    background-color: #333;
}

#content {
    float: left;
    padding: 10px 2% 10px 2%;
    margin: 20px 1% 20px 2%;
    background: #666;
    border: 5px solid #ccc;
    width: 41%;
}

#content2 {
    float: right;
    padding: 10px 2% 10px 2%;
    margin: 20px 2% 20px 1%;
    background: #666;
    border: 5px solid #ccc;
    width: 41%;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #666;
    color: black;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}